<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendaceMapper">
<!-- CREATE TABLE `ATTENDANCE` (
	`EMP_NO`	NUMBER	NOT NULL	COMMENT '년도4자리+부서번호2자리+가입순서 3자리(000~)',
	`ATT_STATUS`	VARCHAR2(4)	NOT NULL	COMMENT 'WK:업무중, OJ: 외근, LE: 조퇴, DO: 휴가(반차개념)',
	`ATT_START`	TIMESTAMP	NOT NULL	DEFAULT SYSTIMESTAMP	COMMENT 'YYYY/MM/DD/HH:MI:SS',
	`ATT_END`	TIMESTAMP	NOT NULL	DEFAULT SYSTIMESTAMP	COMMENT 'YYYY/MM/DD/HH:MI:SS',
	`ATT_TOTALTIME`	VARCHAR2(40)	NOT NULL	COMMENT 'HH:MI',
	`ATT_OVERTIME`	VARCHAR2(40)	NOT NULL	COMMENT 'HH:MI',
	`ATT_LIMITTIME`	VARCHAR2(40)	NOT NULL	COMMENT 'HH:MI',
	`DO_NO`	NUMBER	NOT NULL	COMMENT 'SEQ_DO_NO'
); -->

</mapper>