<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Employee">
	<!-- 회원가입 -->
	<insert id="insertEmployee" parameterType="Emp"> 
	 	insert into employee (emp_no, dept_no, position_no, emp_id, emp_pwd, emp_original_filename, emp_name, emp_gender, emp_birth, emp_email,
	 	emp_tel, emp_postcode, emp_address, emp_detail_address, emp_write_date)
	 	values(#{emp_no}, #{dept_no}, #{position_no}, #{emp_id}, #{emp_pwd}, #{emp_original_filename}, 
	 	#{emp_name}, #{emp_gender}, #{emp_birth}, #{emp_email}, #{emp_tel}, #{emp_postcode}, #{emp_address}, #{emp_detail_address},default )
	 </insert>
 
 	<!-- 아이디 중복체크 -->
	<select id="empIdcheck" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM employee
		WHERE emp_id = #{emp_id}
	</select>
	
	<!-- 로그인 -->
	<select id="empLogin" parameterType="string" resultType="Emp">
		select emp_id, emp_pwd, emp_name
		from employee
		where emp_id = #{emp_id}
		and emp_pwd = #{emp_pwd}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="string" resultType="String">
		select emp_id from employee 
		where emp_email = #{emp_email}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPwd" parameterType="Emp" resultType="Emp">
		select emp_id, emp_email
		from employee
		where emp_id = #{emp_id}
		and emp_email = #{emp_email}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePwd" parameterType="Emp">
		update employee set emp_pwd = #{emp_pwd} 
		where emp_id = #{emp_id}
	</update>
	

</mapper>