@charset "UTF-8";

#wkStartBtn, #wkEndBtn, #addAnnualLeave{
		 border-radius: 25px;
		 width: 95px;
		 height: 40px;
		 background: none;
	 }
	 
	 .afterPush{
	 	border: 1px solid gray; color: gray;  
	 }
	 
	 .beforePush{
		 border: 1px solid #593BDB; color: #593BDB;
	 }
 	
 	#clock{
 		font-size: x-large;
 		color: black;
 	}
 	
 	#today{
 		color: darkgray;
 	}
 	
 	#myName{
 		color: black;
 		font-size: large;
 		font-weight: bold;
 	}
 	 	
 	#myDept{
 		color: darkgray;
 		font-weight: bold;
 	}