@charset "UTF-8";

.join_step{
	
	position: relative;
    display: inline-block;
    margin: 0 20px;
    min-width: 52px;
    height: 52px;
    border: 2px solid #ddd;
    border-radius: 50%;
    box-sizing: border-box;
	
}