@charset "UTF-8";
.chat-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 70;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  border: 1px solid #8cbed6; 
}

/* 펀딩 상세정보 모달창 */
.modal {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
/* 방만들기 모달창 컨텐츠 감싸는부분*/
.modal_content {
	position: relative;
	top: 250px;
	width: 500px;
	height: 800px;
	border: 1px solid;
	margin: 0 auto;
	background-color: white;
}
/* 방만들기 모달창 닫기 */
.btn_create .btn_close {
	width: 100px;
	height: 30px;
	border: 0;
	
}
.btn-close {
		font-size: .7em;
		margin-left: 3px;
	}
.close {
	position:relative;float:left;display:inline-block;
	*display:inline;width:50px;height:50px;text-align:center;margin-right:20px;
	}

.close1:after {content: "\00d7"; font-size:15pt;line-height:50px;}
/* 방만들기 닫기 버튼 정렬 */

.btn_create_close{
	margin: 10px auto;
	text-align: center;
}
#createRoom input{
	padding:10px;
	text-align: center;
} 
.s_invite_p {
		border: 1px solid;
	    width: 90px;
	    padding: 0 10px;
	    border-radius: 10px;
	    display: inline-block;
	    margin: 5px;
	}
#s_select_part_cnt {
		margin-left: 5px;
	    color: gray;
	}
/* The container */
.ks_item .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* sweetmodal */
	.swal-modal {
		background-color: white;
		border: 3px solid white;
	}
	/*ok버튼  */
	.swal-button--danger {
		background-color: #0583F2;
		color: white;
	}
	/*cancel버튼  */
	.swal-button--cancel {
		background-color: red;
		color: white;
	}
	/*ok버튼  */
	.swal-button--confirm {
		background-color: #0583F2;
		color: white;
	}
	/*아이콘 테두리  */
	.swal-icon--info {
		border-color: #0583F2;
	}
	/*아이콘 i 윗부분  */
	.swal-icon--info:after {
		background-color: #0583F2;
	}
	/*아이콘 i 아랫부분  */
	.swal-icon--info:before {
		background-color: #0583F2;
	}
	/*타이틀  */
	.swal-title {
		font-size: 20px;
		color: black;
	}
	/*텍스트  */
	.swal-text {
		color: black;
	}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* 스크롤바 디자인 */
.s_scroll::-webkit-scrollbar {
   	width: 10px;  /* 스크롤바의 너비 */
   	height: 10px;  /* 스크롤바의 너비 */
}

.s_scroll::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #34343482; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.s_scroll::-webkit-scrollbar-track{
    background: #4747471a;  /*스크롤바 뒷 배경 색상*/
}

.chat-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 24px;
  margin-left: 0px;
}
.chat-sidebar .closebtn:hover{
	color: #8cbed6;
}
/* Style tab links */
.tablink {
  background-color: #92a1cf;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0px;
  font-size: 17px;
  text-align: center;
  width: 50%;
}

.tablink:hover {
  background-color: #8cbed6;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #black;
  display: none;
  padding: 10px;
  height: 100%;
}

#EMP {background-color: white;}
#PROJECT {background-color: white;}
#CHAT {background-color: white;}

.main-container {
  transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
  .chat-sidebar {padding-top: 15px;}
  .chat-sidebar a {font-size: 18px;}
}
/* 은진누나 css */
.s_receive_chat {
		background-color: lightblue;
		margin-bottom: 5px;
		border-radius: 10px;
		width: 300px;
		font-size: 1.2em;
		margin-right: 70%;
		float: left;
		height: auto;
		padding: 20px;
		position: relative;
		margin-left: 20px;
		word-break: break-all;
	}
	
	.s_receive_chat:after {
		border-top: 15px solid lightblue;
		border-left: 15px solid transparent;
		border-right: 0px solid transparent;
		border-bottom: 0px solid transparent;
		content: "";
		position: absolute;
		top: 10px;
		left: -15px;
	}
	
	.s_sender_chat {
		float: right;
		margin-left: 70%;
		background-color: antiquewhite;
		margin-bottom: 5px;
		border-radius: 10px;
		width: 300px;
		font-size: 1.2em;
		height: auto;
		padding: 20px;
		position: relative;
		margin-right: 20px;
		word-break: break-all;
	}
	
	.s_sender_chat:after {
		border-top: 15px solid antiquewhite;
		border-left: 0px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 0px solid transparent;
		content: "";
		position: absolute;
		top: 10px;
		right: -15px;
	}
	
	.s_receive {
		background: none;
		font-weight: bold;
		float: left;
		margin-right: 70%;
		height: 55px;
		line-height: 70px;
		margin-left: 20px;
	}
	
	.s_sender {
		background: none;
		font-weight: bold;
		float: right;
		margin-left: 70%;
		height: 55px;
		line-height: 70px;
		margin-right: 20px;
	}
	
