@charset "UTF-8";

.right-sidebar{
	position: fixed;
	right: -315px;
	top: 0;
	width: 315px;
	height: 100%;
	background: #ffffff;
	z-index: 123;
	-webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, .08);
	-moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, .08);
	box-shadow: 0px 0px 18px rgba(0, 0, 0, .08);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.right-sidebar-visible{
	right: 0;
}
.right-sidebar .sidebar-title{
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 15px;
	border-bottom: 1px solid #d4d4d4;
}
.right-sidebar .sidebar-title h3{
	font-weight: 600;
}
.right-sidebar .sidebar-title h3 span{
	font-weight: 400;
	color: #000000;
}
.right-sidebar .close-sidebar{
	font-size: 18px;
	color: #888888;
	cursor: pointer;
}
.right-sidebar .right-sidebar-body{
	height: calc(100% - 70px);
	overflow: auto;
}
.right-sidebar .right-sidebar-body .right-sidebar-body-content{
	padding: 20px;
}