@charset "UTF-8";
.chat-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 70;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 1px solid #8cbed6; 
}


.chat-sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 24px;
  margin-left: 0px;
}
.chat-sidebar .closebtn:hover{
	color: #8cbed6;
}
/* Style tab links */
.tablink {
  background-color: #92a1cf;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 0px;
  font-size: 17px;
  text-align: center;
  width: 33%;
}

.tablink:hover {
  background-color: #8cbed6;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #black;
  display: none;
  padding: 10px;
  height: 100%;
}

#EMP {background-color: white;}
#PROJECT {background-color: white;}
#CHAT {background-color: white;}

.main-container {
  transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
  .chat-sidebar {padding-top: 15px;}
  .chat-sidebar a {font-size: 18px;}
}
/* 은진누나 css */
.s_receive_chat {
		background-color: lightblue;
		margin-bottom: 5px;
		border-radius: 10px;
		width: 300px;
		font-size: 1.2em;
		margin-right: 70%;
		float: left;
		height: auto;
		padding: 20px;
		position: relative;
		margin-left: 20px;
		word-break: break-all;
	}
	
	.s_receive_chat:after {
		border-top: 15px solid lightblue;
		border-left: 15px solid transparent;
		border-right: 0px solid transparent;
		border-bottom: 0px solid transparent;
		content: "";
		position: absolute;
		top: 10px;
		left: -15px;
	}
	
	.s_sender_chat {
		float: right;
		margin-left: 70%;
		background-color: antiquewhite;
		margin-bottom: 5px;
		border-radius: 10px;
		width: 300px;
		font-size: 1.2em;
		height: auto;
		padding: 20px;
		position: relative;
		margin-right: 20px;
		word-break: break-all;
	}
	
	.s_sender_chat:after {
		border-top: 15px solid antiquewhite;
		border-left: 0px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 0px solid transparent;
		content: "";
		position: absolute;
		top: 10px;
		right: -15px;
	}
	
	.s_receive {
		background: none;
		font-weight: bold;
		float: left;
		margin-right: 70%;
		height: 55px;
		line-height: 70px;
		margin-left: 20px;
	}
	
	.s_sender {
		background: none;
		font-weight: bold;
		float: right;
		margin-left: 70%;
		height: 55px;
		line-height: 70px;
		margin-right: 20px;
	}
